// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// Global
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

@import './includes/calluna';
@import './includes/snell-roundhand';

:global {
  @import './includes/touch';
  @import './includes/buttons';
  @import './includes/forms';

  * {
    box-sizing: border-box;
  }

  html {
    margin: 0;
    // background-color: $color-blue-dark;
    padding: 0;
    height: 100%;
    line-height: 1.15; // 2
    font-family: $font-family-system;
    font-size: $font-size;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-size-adjust: 100%; // 3
  }

  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
}
